<ion-view hide-nav-bar="false" view-title="Change Password">
<ion-content class="main-area-login">

  <div class="signup-container text-center content-setter-for-header">
      <div class="signup-container text-center signup-header-logo">
          <h1 class="app-name"></h1>
          <div class="text-center tag-line">
              Stop postponing it to tomorrow
          </div>
      </div>
  </div>

<form name="login" class="login-form">
<div class="verification-box">
    <div class="base-container-control">
        <input type="password" name="password" placeholder="Old Password" class="text-control" ng-model="customer.oldPassword" required autofill="false">  
    </div>
   
    <div class="base-container-control">
        <input type="password" name="password" placeholder="New Password" class="text-control" ng-model="customer.password" required autofill="false">  
    </div>
    <div class="error-container" ng-show="login.password.$error && login.password.$dirty" ng-messages="login.password.$error">
      <div ng-messages-include="templates/error-list.html"></div>
    </div>

    <div class="base-container-control">
        <input type="password"name="confirmpassword" placeholder="Confirm Password" class="text-control" ng-model="customer.confirmPassword"  required/>
    </div>
    <div class="error-container" ng-show="login.confirmpassword.$error && login.confirmpassword.$dirty" ng-messages="login.confirmpassword.$error">
      <div ng-messages-include="templates/error-list.html"></div>
    </div>
     
     <div class="error-container" ng-show="(customer.password!==customer.confirmPassword) && login.confirmpassword.$dirty && login.password.$dirty">
       <div class="error">
        <i class="ion-information-circled"></i> 
       Password Must be same
      </div>
    </div>
    <div class="error-container" ng-show="(customer.password.length<8) || (customer.confirmpassword.length<'8') ">
      <div class="error">
        <i class="ion-information-circled"></i> 
        Password must be minimum 8 character long
      </div>
    </div>     
        
    <div class="base-header">
      <button class="button button-full button-large button-dark" ng-disabled="login.$invalid || (customer.password!==customer.confirmPassword)" ng-click="vm.goToLandingScreen(customer)">
          Submit
      </button>
    </div>
  </div>
</form>
</ion-content>
</ion-view>
