<ion-view hide-nav-bar="true">
<ion-content class="main-area-login">
  <ion-header-bar class="bar-calm">
    <i class="ion-chevron-left back-button" ng-click="$ionicGoBack()"> Login</i>
    
  </ion-header-bar>

<div style="background-color: #444"><fns-header back-state="login"></fns-header></div>

<div class="signup-container text-center content-setter-for-header">
    <div class="row">
        <div class="col">
            <div class="start-header text-left">
                <div class="text-center tag-line">
                    <small>Forgot Password</small><br />
                    Help us to set up your account so that we can serve you in the best way possible.
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="signup-container text-center content-setter-for-header">
    <div class="signup-container text-center signup-header-logo">
        <h1 class="app-name"></h1>
        <div class="text-center tag-line">
            Stop postponing it to tomorrow
        </div>
    </div>
</div>
<form name="login"  class="login-form">
    <div class="verification-box">
        <div class="base-container-control">
            <input type="text" name="username" placeholder="Username or Email" maxlength="50" class="text-control" ng-model="customer.userName" required>  
        </div>
    </div>
    
    <div class="base-header">
        <div class="padding-20">
            <button class="button button-full button-large button-dark" ng-disabled="login.$invalid" ng-click="vm.goToLandingScreen(customer)">
                Submit
            </button>
        </div>
      </div>

</form>
</ion-content>
</ion-view>
