<ion-view>
  <!-- <ion-header-bar class="bar-calm">
    <div class="title">Login</div>
  </ion-header-bar> -->
    <div class="overlay"></div>
    <ion-content class="main-area-login">
        <div class="signup-container text-center header-logo">
            <h1 class="login-link"> FnFPAL</h1>
            <div class="text-center tag-line">
                Strength Within, Pride Throughout
            </div>
        </div>
        <form name="login" class="login-form" ng-submit="vm.login(vm.credentials)">
            <div class="left-inner-addon">
                <i class="ion-person icon-font-20"></i>
                <input type="text" class="form-control" placeholder="Username or Email" maxlength="50" ng-model="vm.credentials.userName" required/>
            </div>
            <div class="left-inner-addon ">
                <i class="ion-locked icon-font-20"></i>
                <input type="password" class="form-control" placeholder="Password"  ng-model="vm.credentials.password" required/>
            </div>
            <div class="text-links">
               <!--  <a href="#" class="login-link pull-left" ng-click="vm.skipLogin()">SKIP</a> -->
                <a href="#" ui-sref="forgot" class="login-link pull-right">FORGOT PASSWORD ?</a>
            </div>
            <div class="login">
                    <button  type= "submit" class="button button-left button-white" ng-disabled="login.$invalid">
                        LOGIN
                    </button>
                     <button type="button" class="button button-left button-white pull-right" ui-sref="signup">
                        SIGN UP
                    </button>
                    <button type="button" class="button button-white facebook-button" ng-click="vm.faceBookLogin()">
                        SIGN UP WITH FACEBOOK
                    </button>
                    <button type="button" class="button button-white google-button" ng-click="vm.googleLogin()">
                        SIGN UP WITH GOOGLE
                    </button>
                <div class="terms-text">
                    *I Agree to Taalomat Terms &amp; Conditions
                </div>
            </div>
    </ion-content>
</ion-view>

