<ion-view hide-nav-bar="true">
<div class="overlay"></div>
<ion-content class="main-area-login">
  <ion-header-bar class="bar-calm">
    <i class="ion-chevron-left back-button" ng-click="$ionicGoBack()"> Login</i>
    
  </ion-header-bar>
<div style="background-color: #444"><fns-header back-state="login"></fns-header></div>

<div class="signup-container text-center content-setter-for-header">
    <div class="signup-container text-center signup-header-logo">
        <h1 class="login-link"> FnFPAL</h1>
        <div class="text-center tag-line">
            Strength Within, Pride Throughout
        </div>
    </div>
</div>
<form name="login" class="login-form">
    <div class="base-container-control margin-top"  >
        <input type="text" name="name" placeholder="Full Name" maxlength="50" class="text-control" ng-model="customer.name" required>  
    </div>
    <div class="base-container-control">
        <input type="email" name="email" placeholder="Email" class="text-control" ng-model="customer.email" required>  
    </div>
    
    <!-- <div class="base-container-control">
        <input type="text" name="username" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="Username" maxlength="50" class="text-control" ng-model="customer.userName" required>  
        <small class="error" ng-show="login.username.$error.pattern">
                    Please enter only Alphanumeric</small>
    </div> -->
    <div class="base-container-control">
        <input type="password" name="password" placeholder="Password" maxlength="15" class="text-control" ng-model="customer.password" required autofill="false">  
    </div>
    <div class="base-container-control">
        <input type="number"name="phoneNo" placeholder="Valid Mobile No" ng-minlength="10" ng-maxlength="10" class="text-control" ng-model="customer.phoneNumber"  required/>

            <small class="error" ng-show="login.phoneNo.$error.maxlength || login.phoneNo.$error.minlength">
            Please enter 10 digits</small>

    </div>
    <div>
        <button class="button button-full button-large button-dark"  ng-disabled="login.$invalid" ng-click="vm.goToLandingScreen(customer)">
            REGISTER
        </button>
    </div>
    <div class="terms-text">
        *By signing up, you agree to our terms of use and privacy policy
    </div>

</form>
</ion-content>
</ion-view>
