<ion-view hide-nav-bar="true">
<ion-content class="main-area-login">
  <ion-header-bar class="bar-calm">
    <i class="ion-chevron-left back-button" ui-sref="login"> login</i>
  </ion-header-bar>


<div class="signup-container text-center content-setter-for-header">
    <div class="signup-container text-center signup-header-logo">
        <h1 class="login-link"> FnFPAL</h1>
        <div class="text-center tag-line">
            Strength Within, Pride Throughout
        </div>
    </div>
</div>
<form name="login" class="login-form">


  <div class="verification-box">
    <div class="text-left tag-line">
        <p>Please Enter Your Otp</p>
        <br/>
        <p>If you didn't get the mail then please click on the "Resend Verification code" link.</p>
    </div>
    <div class="base-container-control">
        <input type="text" ng-model="vm.code" name="authenticationcode" placeholder="Enter verification code" class="text-control" required/>
    </div>
    <div class="text-right"><a href="" ng-click="vm.resendVirificationCode()" class="small-link">Resend Verification Code</a></div>
  </div>
    <div>
        <button class="button button-full button-large button-dark" ng-disabled="login.$invalid" ng-click="vm.verifyEmail()">
            VERIFY
        </button>
    </div>

</form>
</ion-content>
</ion-view>
