<ion-view hide-nav-bar="false" view-title="Profile">

<ion-content class="main-area signup">
    <form name="login">
        <div class="profile-pic-section">
            <a ng-click="uploadImage()" class="profile-pic-edit"><i class="ion-edit"></i></a>

            <div class="profile-pic" ng-show="(!vm.user || !vm.user.profilePicture)"><img src="img/man.png" /></div>
            <div class="profile-pic" ng-show="(vm.user && vm.user.profilePicture)"><img ng-src="{{vm.user.profilePicture}}" /></div>
            <div style="text-align: center;font-size: 20px;color: #ffffff"><span>{{vm.user.fullName}}</span></div>
        </div>
        <div class="page-padding">
        
            <div class="base-container-control">
                <ion-google-place placeholder="Address, Location" id="gaddress" geocode-options="options" ng-model="vm.address" current-location="true" />  
            </div>


            <div class="base-container-control">
                <input type="text" name="Address1" placeholder="Address1" maxlength="50" class="text-control" ng-model="vm.user.address1" required>  
            </div>

            <div class="base-container-control">
                <input type="text" name="Address2" placeholder="Address2" maxlength="50" class="text-control" ng-model="vm.user.address2" required>  
            </div>

            <div class="error-container" ng-show="login.Address2.$error && login.Address2.$dirty" ng-messages="login.Address2.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>


            <div class="base-container-control">
                <input type="text" name="City" placeholder="City" maxlength="20" class="text-control" ng-model="vm.user.city"  required/>
            </div>

            <div class="error-container" ng-show="login.City.$error && login.City.$dirty" ng-messages="login.City.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>

            <div class="base-container-control">
                <input type="text" name="State" placeholder="State" maxlength="20" class="text-control" ng-model="vm.user.state"  required/>
            </div>


            <div class="error-container" ng-show="login.State.$error && login.State.$dirty" ng-messages="login.State.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>


            <div class="base-container-control">
                <input type="text" name="Country" placeholder="Country" maxlength="10" class="text-control" ng-model="vm.user.country"  required/>
            </div>


            <div class="error-container" ng-show="login.Country.$error && login.Country.$dirty" ng-messages="login.Country.$error">
              <div ng-messages-include="templates/error-list.html"></div>
            </div>



            <div class="base-container-control">
                <input type="text" name="ZipCode" placeholder="ZipCode" class="text-control" ng-model="vm.user.zipCode"  required/>
            </div>
          
            <div class="base-container-control">
                <input type="text" name="PhoneNumber" placeholder="PhoneNumber" class="text-control" ng-model="vm.user.phoneNumber"  readonly/>
            </div>


            <div class="base-container-control">
                <input type="email" name="Email" placeholder="Email" string-to-number class="text-control" ng-model="vm.user.emailId"  readonly/>
            </div>
           
            
            <div class="base-header">
                <button class="button button-full button-large button-dark" ng-disabled="login.$invalid" ng-click="updateUser(vm.user)">
                    Update 
                </button>
            </div>
        </div>

        
    </form>
</ion-content>
</ion-view>
