<ion-view hide-nav-bar="true" view-title="FnFPAL">
<ion-header-bar class="bar-calm">
    <i class="ion-chevron-left back-button" ui-sref="app.myRequestTab"> Bidding</i>
    
  </ion-header-bar>
    <!--<fns-header back-state="new-request"></fns-header>-->
    <ion-content>
        <div class="bidding-container text-center">
            <div class="start-header bid-header" ng-if="biddingDetails.Status=='open'">
                <h3>Bidding Details</h3>
                <small>Select a vendor to continue</small>
            </div>
            <div class="start-header bid-header" ng-if="biddingDetails.Status=='inProgress'">
                <h3>
                    Bidding Details
                </h3>
                <small>Select a vendor to continue</small>
            </div>
            <div class="start-header bid-header" ng-if="biddingDetails.Status=='close'">
                <h3>
                    Your Orders
                </h3>
                <small>Rate our services</small>
            </div>
            <div class="place-request bid-details">
                <h4 class="font-light">{{biddingDetails.Category.CategoryName}}</h4>                
                <small class="padding">{{biddingDetails.Description}}</small>
            </div>
        </div>
        <div class="bidding-item-row font-light" ng-repeat="biddingDetail in biddingDetails.BiddingDetails track by $index" >

            <div class="row padding-reset" ng-hide="biddingDetails.Status !='open' && biddingDetails.SPId != biddingDetail.SPId">
                <div class="col-l text-center">
                    <div class="provider-pic">
                        <img src="img/service-provider.png" width="40px" />
                    </div>
                </div>
                <div class="col-m text-left" ng-click="goToBidderDetails(biddingDetail)">
                    <h1 class="request-header padding-reset margin-top">
                        {{biddingDetail.name}}
                    </h1>
                    <small class="color-gray">
                        <span>Price: {{biddingDetail.price}}</span>
                    </small>
                    <!-- <h4 class="valid">
                        <span>Validity: {{biddingDetail.validUpto}}</span>
                    </h4> -->
                    <div class="rating-sec">
                        <rating ng-model="biddingDetail.rating.avgRating" max="vm.rating.max"  readonly="true" >
                    </div>
                </div>
                <div class="col-r right-actions">
                    <small class="color-gray">{{biddingDetail.rating.count}} reviews</small>
                    <div class="circle margin-bid round-bg-green" ng-if="biddingDetails.Status=='open'" ng-click="selectBidder(biddingDetail)">
                        <i class="ion-checkmark-round"></i>
                    </div>
                    <div class="circle-first margin-bid round-bg" ng-click="goToComments(biddingDetail)">
                        <i class="ion-chatbubble-working"></i>
                    </div>
                    <div class="circle-last margin-bid round-bg" ng-show= "vm.isRatungPending" ng-if="biddingDetails.Status=='close'" ng-click="ratting(biddingDetail)">
                        <i class="ion-ios-star-half"></i>
                    </div>
                    <!-- <div  ng-show= "vm.isRatungPending" class="circle margin-bid accept-bg" ng-if="biddingDetails.Status=='close'" ng-click="ratting(biddingDetail)">

                        <i class="ion-checkmark-round"></i>
                    </div>

                    <div class="circle margin-bid round-bg" ng-if="biddingDetails.Status=='open'" ng-click="selectBidder(biddingDetail)">
                        <i class="ion-checkmark-round"></i>
                    </div>
                    <div class="circle margin-bid round-bg" ng-click="cancelBidder()" ng-if="biddingDetails.Status=='open'">
                        <i class="ion-close-round"></i>
                    </div>

                    <div class="row padding-reset text-center">
                        <span class="review">{{biddingDetail.rating.count}} reviews</span>
                    </div> -->

                </div>

            </div>
        </div>

        <div class="bidding-item-row font-light" ng-if="biddingDetails.BiddingDetails.length == 0" >
            <div class="row padding-reset">
                 <div class="col-m text-left">
                    <h1 class="request-header padding-reset margin-top">
                          - no request(s) found -
                    </h1>
                </div>
           </div>
       </div>
      
  </ion-content>
</ion-view>
