<ion-view hide-nav-bar="true" view-title="FnFPAL">
<ion-header-bar class="bar-calm">
    <i class="ion-chevron-left back-button" ng-click="$ionicGoBack()"> Bidding</i>
    
  </ion-header-bar>
    <ion-content>
        <div class="vendor-container text-center">
            <div class="start-header vendor-header">
                <h3>Vendor Details</h3>
            </div>
            <div class="place-request vendor-details">
                <div class="row padding-reset">
	                <div class="col-l text-center">
	                    <div class="provider-pic">
                            <div class="profile-pic" ng-show="(!vm.serviceProvider || !vm.serviceProvider.Image1)"><img src="img/service-provider.png" /></div>
                            <div class="profile-pic" ng-show="(vm.serviceProvider && vm.serviceProvider.Image1)"><img ng-src="{{vm.serviceProvider.Image1}}" /></div>
	                    </div>
	                </div>
	                <div class="col-m text-left">
	                    <h1 class="vendor-name padding-reset margin-top">
                            {{vm.serviceProvider.Name}}
	                    </h1>
	                    <small class="color-gray">
	                        <span>{{BiddingDetails.rating.count}} reviews</span>
	                    </small>
	                    <!-- <h4 class="valid">
	                        <span>Validity: {{biddingDetail.validUpto}}</span>
	                    </h4> -->
	                    <div class="rating-sec">
	                        <rating ng-model="BiddingDetails.rating.avgRating" max="vm.rating.max"  readonly="true" >
	                    </div>
	                </div>
	                <div class="col-r right-actions" ng-show="biddingDetails.Status == 'open'">
	                    <div class="circle margin-bid round-bg margintop-0"  ng-click="goToComments(BiddingDetails)">
	                        <i class="ion-chatbubble-working"></i>
	                    </div>
	                	<div class="circle margin-bid round-bg-green "  ng-click="selectBidder(BiddingDetails)">
	                        <i class="ion-checkmark-round"></i>
	                    </div>
	                </div>
	                <div class="clearboth"></div>
	            </div>
            </div>
        </div>
        <div class="padding-15 vendors-spec">
        	<div class="vendor-block padding-bottom-20">
        		<div class="doorstep"></div>
                <div>Service at your door step</div>
        	</div>
        	<div class="vendor-block padding-bottom-20">
        		<div class="verified"></div>
                <div>Background verified</div>
        	</div>
        	<div class="vendor-block">
        		<div class="customer-support"></div>
                <div>24/7 Online Support</div>
        	</div>
        	<div class="vendor-block">
        		<div class="assurance"></div>
                <div>Quality Assurance</div>
        	</div>
            <div class="clearboth"></div>
        </div>
        <div class="paddinsg-15-3 color-gray justify">
            <h4 class="aboutus-header">ABOUT VENDOR</h4>
            <p>{{vm.serviceProvider.Information}}</p>  
        </div>
        <div class="padding-15 vendors-spec">
            <div class="vendor-block padding-bottom-20">
                <i class="ion-calendar f-left icon-30"></i>
                <div class="vendor-featurs">In Business<br/><small>since {{vm.serviceProvider.ShopStartDate|date:'yyyy'}}</small></div>
            </div>
            <div class="vendor-block padding-bottom-20">
                <i class="ion-card f-left icon-30"></i>
                <div class="vendor-featurs">Payment Mode<br/><small>{{vm.serviceProvider.PaymentMode}}</small></div>
            </div>
            <div class="vendor-block">
                <i class="ion-android-calendar f-left icon-30"></i>
                <div class="vendor-featurs">Working Days<br/><small>Monday - Sunday</small></div>
            </div>
            <div class="vendor-block">
                <i class="ion-android-watch f-left icon-30"></i>
                <div class="vendor-featurs">Working Hours<br/><small>10 AM - 8 PM</small></div>
            </div>
            <div class="clearboth"></div>
        </div>
        <div class="paddinsg-15-3 color-gray justify review-border">
            <h4 class="aboutus-header">Reviews &amp; Rating</h4>
            <div ng-repeat="n in venderRating">
                <div class="reviewer-name">{{n.fromUser||'Guest'}} <!-- <small>- Software Engineer</small> --></div>
                <div class="rating-sec f-right">
                    <rating ng-model="n.Rating" max="vm.rating.max"  readonly="true" >
                </div>
                <div class="clearboth"></div>
                <p>{{n.Comments}}</p>  
            </div>
  
        </div>
  </ion-content>
</ion-view>
