<ion-view view-title="Calandar">
	<ion-content class="padding">
		<h4>Select Date</h4>
		<ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
    <button class="button button-block button-royal"> {{ currentDate | date:'MM/dd/yyyy @ h:mma' }} </button>
</ionic-datepicker>

    <button  class="button button-outline icon-right ion-chevron-right button-royal nextBtn" ng-click="proccedTonext()">
          Next
       </button>
	</ion-content>
</ion-view>
