<ion-view view-title="Edit Profile">
	<ion-content class="padding">
	   <div class="list">
		   <label class="item item-input">
		   <input type="text" placeholder="Enter the name" >
		   </label>
		   <label class="item item-input">
		   <input type="number" placeholder="select age" >
		   </label>
		   <label class="item item-checkbox checkbox-stable">
         <input type="checkbox" class="radio" value="1" name="fooby[1][]">Male
         </label>
         <label class="item item-checkbox checkbox-stable">
         <input type="checkbox" class="radio" value="1" name="fooby[1][]">Female
         </label>
         <button class="button button-royal btn-lg">Cancel</button>
         <button class="button button-royal btn-lg">Save</button> 
      </div>
       <!-- <button  class="button button-outline icon-right ion-chevron-right button-royal nextBtn" ui-sref="editProfile">
          Next
       </button>  -->
	</ion-content>
</ion-view>
