<ion-view view-title="Hospitals" ng-init="init()">
   <ion-content class="padding">
      <h4>Select Hospital</h4>
      <ion-list>
          <ion-radio ng-repeat="hospital in hospitals" ng-click="chooseHodpital(hospital)" ng-model="hospital[$index]">
          <img src="img/hospital.png" style="height:50px; width:50px"><b>{{hospital.name}}</b></ion-radio>
      </ion-list>
      <button  class="button button-outline icon-right ion-chevron-right button-royal nextBtn" ng-click="proccedTonext()">
       Next
      </button>
   </ion-content>
</ion-view>
