<ion-view view-title="Insurance">
   <ion-content class="padding">
        <ion-list ng-repeat= "scheme in schemes">
         <ion-radio ng-model="data.clientSide" ng-value="scheme.value">{{scheme.name}}</ion-radio>
        </ion-list>
        <button ng-click="goSomewhere()" class="button button-outline icon-right ion-chevron-right button-royal nextBtn">
          Next
        </button>
        <!-- <button ng-click="goSomewhere()" class="button button-outline icon-right ion-chevron-right button-royal nextBtn">Skip
        </button> -->
   </ion-content>
</ion-view>
