<ion-view view-title="InsurancePlan" ng-init="init()">
	<ion-content class="padding">
		<ion-list>
			<ion-radio ng-repeat= "plan in plans" ng-model="plan[$index]"  ng-click="chooseInsurence(plan)">{{plan.name}}</ion-radio>
		</ion-list>
		<button  class="button button-outline icon-right ion-chevron-right button-royal nextBtn" ng-click="proccedTonext()">
			Next
		</button>
	</ion-content>
</ion-view>
