<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <div class="buttons">
          <button class="button button-icon ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
  <div class="overlay"></div>
    <ion-content class="menu-bg">
      <div class="text-center left-menu-padding-20">
        <div class="profile-pic" ng-show="(!vm.user || !vm.user.Image)"><img src="img/man.png" /></div>
        <div class="profile-pic" ng-show="(vm.user && vm.user.Image)"><img ng-src="{{vm.user.Image}}" /></div>
        <div  ng-show="!vm.isSkip" class="profile-name"><h4>{{(vm.user.FirstName || vm.user.UserName)|| 'Guest'}}</h4></div>

        <div  ng-show="vm.isSkip" class="profile-name"><h4>Hi, Guest</h4></div>
      </div>
      <ul class="menu-list">
        <a href="#" class="item" ui-sref="app.category" menu-close><i class="ion-ios-home margin-right"></i>Home</a>

        <a href="#" class="item" ng-click="vm.navigateWithLogin('app.profile')" menu-close><i class="ion-ios-person margin-right"></i>View & Edit Profile</a>
        
        <a href="#"  class="item" ng-click="vm.navigateWithLogin('app.myRequestTab')"  menu-close><i class="ion-ios-paper margin-right"></i>My Request</a>

         <a href="#" ng-click="vm.navigateWithLogin('app.notifs')" class="item" menu-close><i class="ion-android-notifications margin-right"></i>Notification</a>

        <a href="#"  class="item" ui-sref="app.aboutUs"  menu-close><i class="ion-ios-information margin-right"></i>About Us</a>

        <a href="http://taalomat.com/#about"  class="item" menu-close><i class="ion-locked margin-right"></i>Privacy Policy</a>
        
        <a href="http://taalomat.com/#services"  class="item" menu-close><i class="ion-ios-compose margin-right"></i>Terms of Use</a>

        <a href="#"  class="item" ng-click="vm.rateApp()" menu-close><i class="ion-android-star margin-right"></i>Rate Us</a>

        <a href="#"  class="item"  ui-sref="app.contactUs" menu-close><i class="ion-ios-telephone margin-right"></i>Contact Us</a>

        <a href="#" ng-show="!vm.isGuestUser" ui-sref="app.change-password"  class="item" menu-close><i class="ion-lock-combination margin-right"></i>Change Password</a>
        
        <a href="#" ng-show="!vm.isGuestUser" class="item" ng-click="vm.goToLogoutScreen()" menu-close><i class="ion-power margin-right"></i>Logout</a>

        <a href="#" ng-show="vm.isGuestUser" class="item" ui-sref="login"  menu-close><i class="ion-power margin-right"></i>Login</a>
        
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


