<ion-view view-title="Patient Schedule">
  <ion-content class="padding">
    <ion-list ng-repeat="list in choosePateintSchedule">
      <ion-radio  ng-model="data.clientSide" ng-value="list.value">{{list.name}}</ion-radio>
    </ion-list>
    <button ng-click="goSomewhere()" class="button button-outline icon-right ion-chevron-right button-royal nextBtn">Next</button>
  </ion-content>
</ion-view>
