<ion-view view-title="Review Patient Profile">
	<ion-content class="padding">
        <div class="list">
        <label class="item item-input">
            Name: <input type="text" placeholder=" name" ng-model="selectedPatient.name" disabled>
        </label>
        <label class="item item-input">
            Relation: <input type="text" placeholder=" Relation" ng-model="selectedPatient.relation" disabled>
        </label>
				<label class="item item-input">
						Age: <input type="text" placeholder=" age" minlength="1" ng-model="selectedPatient.age" disabled>
				</label>
        <button class="button button-royal btn-lg" ui-sref="patientProfile">Cancel</button>
        <button class="button button-royal btn-lg" ng-click="proccedTonext()">Save</button>
    </div>
  </ion-content>
</ion-view>
