<ion-view view-title="Physicians" ng-init="init()">
	<ion-content class="padding">
		<h4>Select Physician</h4>
		<ion-list>
			<ion-radio class="radio" ng-model="physician[$index]" ng-click="choosePhysician(physician)" ng-repeat="physician in physicians">
				<img src="img/doctors.jpg" style="height:50px; width:50px"><b>{{physician.name}}</b>
			</ion-radio>
		</ion-list>
		<button  class="button button-outline icon-right ion-chevron-right button-royal nextBtn" ng-click="proccedTonext()">
			Next
		</button>
	</ion-content>
</ion-view>
