<ion-view view-title="Schedule Appointment" ng-init="init()" >
   <ion-content class="padding">
      <h4>Select Patient</h4>
       <div class="list" >
         <a class="item item-thumbnail-left item-icon-right" ng-class="{'active': selectedpatient.name== list.name}" ng-click="selectPateint(list)"  ng-repeat="list in appoinmentFor">
            <img src="img/user.png">
            <h2 ><b>Name: {{list.name}}</b></h2>
            <p ><b>Relation: {{list.relation}}<b></p>
            <p >Age: {{list.age}}</p>
            <i class="icon ion-arrow-right-b"></i>
         </a>
      </div>
   </ion-content>
</ion-view>
