<ion-view>
<ion-content class="main-area-dashboard">
    <div class="text-center main start-top">
        <!-- <div class="logo"><div class="m-logo"></div></div> -->

        <h1>Hospital</h1>
        <div class="text-center tag-line">
            Strength Within, Pride Throughout
        </div>
    </div>


<div class="base-header" ng-hide="true">            
    <div class="row">
        <div class="col">
            <button class="button button-full button-large button-white" ng-click="goToLoginScreen()">
                {{ 'GET_STARTED' | translate}} 
            </button>
        </div>
    </div>


    <div class="lang-icon" ng-hide="true">
        <i class="ion-wand margin-left weight" ng-click="changeLanguage()"></i>                    
    </div>

</div>

</ion-content>
</ion-view>