<ion-view view-title="Summary">
	<ion-content class="padding">
		<div class="list">
			<div class="item item-input">
				<span class="input-label">Pateint Name:</span>
					<input type="text" ng-model="selectedPatient.name">
				<button class="ion-edit edit_space" ng-click="editSelectPatient()"></button>
			</div>
			<div class="item item-input">
				<span class="input-label">Physician</span>
					<input type="text" ng-model="selectedPatient.physician.name">
				<button class="ion-edit edit_space" ng-click="editSelectphysician()"></button>
			</div>
			<div class="item item-input">
				<span class="input-label">Hospital</span>
					<input type="text" ng-model="selectedPatient.hospital.name">
				<button class="ion-edit edit_space" ng-click="editSelectHospital()"></button>
			</div>
			<div class="item item-input">
				<span class="input-label">Insurance</span>
					<input type="text" ng-model="selectedPatient.plan.name">
				<button class="ion-edit edit_space" ng-click="editSelectInsurance()"></button>
			</div>
			<div class="item item-input">
				<span class="input-label">Booking Date</span>
					<input type="text" ng-model="selectedPatient.bookingDate">
				<button class="ion-edit edit_space" ng-click="editSelectBokingDate()"></button>
			</div>
			<div class="item item-input">
				<span class="input-label">Time Slot</span>
					<input type="text" ng-model="selectedPatient.slot.time">
				<button class="ion-edit edit_space" ng-click="editSelectTimeSlot()"></button>
			</div>
			<button class="button button-royal btn-lg" ui-sref="patientProfile">Cancel</button>
			<button class="button button-royal btn-lg">Schedule</button>
		</div>
	</ion-content>
</ion-view>
