<ion-popover-view>
   <ion-header-bar>
   <h1 class = "title">Time Slot of this Docter</h1>
   </ion-header-bar>
   <ion-content>
      <ion-list>
        <ion-radio ng-repeat= "slot in slots" ng-model="slot[$index]" ng-click="chooseTimeslots(slot)">{{slot.time}}
        </ion-radio>
      </ion-list>
      <div>
        <button class="button button-outline button-royal nextBtn" ng-click="closePopover()">
          Cancel
       </button>
       &nbsp;
       <button class="button button-outline button-royal nextBtn" ng-click="proccedTonextPage()">
          Done
       </button>
      </div>
   </ion-content>
</ion-popover-view>
