<ion-view view-title="{{vm.header}}">
<ion-tabs class="tabs-striped tabs-top tabs-color-calm">
  <ion-tab title="Bookings" badge-style="badge-assertive" on-select="openRequestData()">
    <ion-view >
      <ion-content class="main-area">
        <div ng-repeat="openRequest in openRequests track by $index" ng-click="goToBiddingDetails(openRequest)" class="request-section">
          <div class="text-left request-row">
            <div class="request-header padding-reset">
              <div class="chat-data f-left">
                {{openRequest.subCategory.CategoryName}} <br />
                <small> {{openRequest.Description}}</small>
              </div>
             <!--  <div class="chat-img f-left">
                <span class="count">{{openRequest.BiddingDetails.length || 0}}</span>
                <span class="bidders-text">BIDDERS</span>
              </div> -->
              <div class="clearboth"></div>
            </div>
          </div>
        </div>
        <div ng-if="openRequests.length <= 0" class="row">
          <div class="col text-left request-row">
            <div class="request-header padding-reset">
              - no request(s) found -
            </div>
          </div>
        </div>
      </ion-content>
    </ion-view>

  </ion-tab>

  
  <ion-tab title="Confirmed" badge-style="badge-assertive" on-select="inProgressRequestData('Inprogress Request')">
    <ion-view hide-nav-bar="false" view-title="View Requests">
      <ion-content class="main-area">
        <div ng-if="inProgressRequests.length <= 0" class="row">
          <div class="col text-center request-row">
            <div class="request-header padding-reset">
              - No request(s) found -
            </div>
          </div>
        </div>

        <div class="font-light" ng-repeat="inProgressRequest in inProgressRequests track by $index" >
          <div class="col text-left request-row">
            <div class="request-header padding-reset">
              <div class="chat-data f-left" ng-click="goToBiddingDetails(inProgressRequest)">
                {{inProgressRequest.subCategory.CategoryName}} <br />
                <small> {{inProgressRequest.Description}}</small>
              </div>
              <div class="chat-img f-left" ng-click="ratting(inProgressRequest)" ng-show="inProgressRequest.IsRequestClosedByProvider">
                  <span class="count"><i class="fa fa-check-square"></i></span>
                  <span class="bidders-text">Complete</span>
              </div>
              <div class="clearboth"></div>
            </div>
          </div>
        </div>

      </ion-content>
    </ion-view>

  </ion-tab>

  <ion-tab title="History" badge-style="badge-assertive" on-select="closeRequestData('Close Request')">

    <ion-view hide-nav-bar="false" view-title="View Requests">

      <ion-content class="main-area">

        <div ng-if="closedRequests.length <= 0" class="row">
          <div class="col text-left request-row">
            <div class="request-header padding-reset">
              - No request(s) found -
            </div>
          </div>
        </div>

        <div class="font-light" ng-repeat="closeRequest in closedRequests track by $index" ng-click="goToBiddingDetails(closeRequest)">
          <div class="col text-left request-row">
            <div class="request-header padding-reset">
              <div class="chat-data change-ignore f-left">
                {{closeRequest.subCategory.CategoryName}} <br />
                <small> {{closeRequest.Description}}</small>
              </div>
              <div class="clearboth"></div>
            </div>
          </div>
        </div>

      </ion-content>
    </ion-view>



  </ion-tab>

</ion-tabs>
</ion-view>
