<ion-view hide-nav-bar="false" view-title="FnFPAL">
    <ion-content>
        <div class="signup-container text-center">
            <div class="request-banner">
                <!-- <h3>
                    {{selectedCategory.CategoryName}}
                </h3> -->
                <h3 class="margin-left">
                    {{selectedSubCategory.CategoryName}}
                </h3>
            </div>
        </div>
        <form name="requestForm" class="page-padding">
            <div class="datetime">
                <div class="section-header">When do you want the service?</div>
                <div class="base-container-control request-form date-time date-picker">
                    <ionic-datepicker input-obj="datepickerObject">
                        <i class="ion-calendar"></i>
                    
                    <input type="date" name="requestDate" ng-model="request.expectedDate" placeholder="(when you want) enter the date" class="text-control" disabled required>
                    </ionic-datepicker>
                </div>
                <div class="base-container-control request-form date-time">
                    <a href="" ng-click="openTimeSlot()" class="time-input" >
                        <i class="ion-android-time"></i>
                        <input type="text" placeholder="Time" ng-disabled="true" name="time" ng-model="request.hour.name" class="text-control" style="width: 83%;"  requird/>
                    </a>
                </div>
            </div>
            <div class="base-container-control request-form">
                <ion-google-place placeholder="Address, Location" id="gaddress" geocode-options="options" ng-model="request.address" current-location="true" />
            </div>


           <!--  <div class="base-container-control request-form">
                <input type="text" placeholder="Appartment #, Door #. Building Name" maxlength="50" ng-model="request.buildingName" name="requestAddress" required />
            </div>
            <div class="base-container-control request-form">
                <input type="text" placeholder="Landmark" maxlength="50" name="requestAddress" ng-model="request.landmark" required />
            </div> -->

            <div class="base-container-control request-form">
                <input type="number" placeholder="Pincode" ng-minlength="6" ng-maxlength="6" name="pincode" ng-model="request.pincode" required/>
                <small class="error" ng-show="requestForm.pincode.$error.maxlength || requestForm.pincode.$error.minlength">
                    Please enter 6 digits</small>
            </div>

           <!--  <div class="base-container-control margin-top request-form">
                <textarea rows="20" cols="3" name="requestDescription" maxlength="75" ng-model="request.description" placeholder="Enter descriptions..."  class="text-control"></textarea>
                <small>Remaining:{{75-request.description.length}}</small>
            </div> -->


            <div class="base-container-control request-form">
                <input type="number" name="requestPhone" ng-minlength="10" ng-maxlength="10" ng-model="request.phoneNo" placeholder="enter phone number" class="text-control" required> 
                 <small class="error" ng-show="requestForm.requestPhone.$error.maxlength || requestForm.requestPhone.$error.minlength">
                    Please enter 10 digits</small>
            </div>  

            <div>
                <div class="save-customer">                   
                    <button class="button button-full button-dark" ng-disabled="requestForm.$invalid" ng-click="goToProcessComplete()">
                        GO
                    </button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>