<ion-view hide-nav-bar="false" view-title="FnFPAL">
<!-- 
    <div class="add-icon" ng-click="goToStartNewRequest()"><i class="ion-plus"></i></div> -->
    
    <ion-content class="main-area-login padding-15">
        <div class="completed-header">
            <i class="ion-android-checkmark-circle"></i> <br />
            <span class="success-message">Your request has been submitted successfuly.You will be notified when a cost quote is ready for your request</span>
        </div>
        <div class="request-details-box-last">
            <div class="completed-text">Thanks for choosing Taalomat. You will hear from us shortly</div>
            <div class="min-amount text-center">Here is you request Id sent to your mail id</div> 
            <div class="padding-15">                   
                <button class="button button-full button-dark"  ng-click="goToStartNewRequest()">
                    OK
                </button>
            </div>          
        </div>
    </ion-content>
    
</ion-view>