<ion-view hide-nav-bar="false" view-title="FnFPAL">

<ion-content class="main-area">
<div class="list">
  <a class="item item-thumbnail-left" ng-repeat="list in VendorsList track by $index" 
      ng-click="goToProcessComplete(list)" href="javascript:void(0)">
    <img src="../../img/taalomatgallery/gym3.jpg">
    <h2>{{ list.Name }}</h2>
    <h4>{{ list.Address }}</h4>
  </a>

</div>
<!-- <div ng-repeat="list in VendorsList track by $index" ng-click="goToProcessComplete(list)" class="request-section">
  <div class="text-left request-row">
    <div class="request-header padding-reset">
      <div class="chat-data f-left">
        {{list.Name}} <br />
        <small> {{list.Address}}</small>
      </div>
      <div class="chat-img f-left"> -->
       <!--  <span class="count">{{openRequest.BiddingDetails.length || 0}}</span>
       <span class="bidders-text">BIDDERS</span> -->
    <!--  </div>
     <div class="clearboth"></div>
   </div>
 </div>
</div> -->
<div ng-if="openRequests.length <= 0" class="row">
  <div class="col text-left request-row">
    <div class="request-header padding-reset">
      - no request(s) found -
    </div>
  </div>
</div>
</ion-content>
</ion-view>