<ion-view hide-nav-bar="false" view-title="FnFPAL">
    <div class="overlay"></div>
  <ion-content class="main-area-login">

        <div class="signup-container padding-15">
            <div class="request-page-header text-left">
                <h1>
                   <i class="ion-ios-list-outline"></i> Request Details
                </h1>
            </div>
            <div class="request-details-box">
                Dear {{vm.user.FirstName}}
                {{request.buildingName}},
                {{request.address.formatted_address}},
                {{request.landmark}} - {{request.pincode}}.
                <br/><br/>

                Mobile No: {{request.phoneNo}}
                Email Id: {{vm.user.LoginId}}
            </div>

          <!--   <div class="request-details-box">
                <span class="request-category">{{selectedSubCategory.CategoryName}}</span><br/>
                <div class="description-label">Description</div>
                {{request.description}}. 
            </div> -->

            <div class="request-details-box-last">
                <span class="padding-lr"><strong>Date</strong> : {{request.expectedDate |date:'dd/MM/yyyy'}}<br/></span>
                <span class="padding-lr"><strong>Time</strong> : {{request.hour.name}}<br/><br/></span>
               
                <div class="padding-15">                   
                    <button class="button button-full button-dark" ng-disabled="request.$invalid" ng-click="goToProcessComplete()">
                        SUBMIT
                    </button>
                </div>          
            </div>
            <div class="request-page-header text-left">
                <h1>
                   <i class="ion-ios-list-outline"></i> Gym Profile
                </h1>
            </div>
            <div class="request-details-box-last request-review">
                <div class="block">
                    <h1>Rating</h1>
                    <ul class="rating">
                        <li><i class="ion-ios-star-outline"></i></li>
                        <li><i class="ion-ios-star-outline"></i></li>
                        <li><i class="ion-ios-star-outline"></i></li>
                        <li><i class="ion-ios-star-outline"></i></li>
                        <li><i class="ion-ios-star-outline"></i></li>
                    </ul>
                </div>
                <div class="block">
                    <h1>Review</h1>
                    <div class="review-block">
                        <p>" Nice Service "</p>
                    </div>
                    <div class="padding-15">                   
                        <button class="button button-full button-dark" ng-disabled="request.$invalid" ng-click="goToProcessComplete()">
                            View Profile
                        </button>
                    </div>    
                </div>      
            </div>
            
        </div>
  </ion-content>
</ion-view>