<div class="12HourTimePickerChildDiv">
  <div class="row time-picker-section">
    <span class="button-small col">
      <button type="button" class="button button-clear button-small button-dark timePickerArrows marginBottom10"
              ng-click="vm.index = vm.index+1"   ng-disabled="vm.index == (hours.length-1)">
        <i class="icon ion-chevron-up"></i></button>
      <div ng-bind="hours[vm.index].name" class="ipBoxes"></div>
      <button type="button" class="button button-clear button-small button-dark timePickerArrows marginTop10"
              ng-click="vm.index = vm.index-1" ng-disabled="vm.index == 0">
        <i class="icon ion-chevron-down"></i></button>
    </span>
  </div>
</div>