<ion-view hide-nav-bar="false" view-title="FnFPAL">

  <ion-content class="main-area">

      <div class="screen-main-header menu-item-row new-request" ng-click="goToNewRequestScreen()">
          <div class="menu-icon"><i class="ion-plus-round"></i></div>
          <div class="tile-item-header"><h1>NEW REQUEST</h1></div>
          <div class="tile-info-small"><small>Click here to create a new request</small></div>
      </div>

      <div class="screen-main-header menu-item-row view-request" ng-click="goToMyRequestScreen()">
          <div class="menu-icon"><i class="ion-clipboard"></i></div>
          <div class="tile-item-header"><h1>VIEW REQUESTS</h1></div>
          <div class="tile-info-small"><small>Click here to view the requests</small></div>
      </div>
      <div class="intro-text2">
          <span style="font-size: 50px;font-weight: 700;color: #ccc;">1000 Satisfied  </span>
          <small>Customers</small>

          <span style="color: #E36C00;font-size: 50px;font-weight: 800">100% Delivery</span>

      </div>

  </ion-content>
</ion-view>
