.ion-google-place-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
    background-color: rgba(242, 101, 34, 0.22);
}


input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
}
.ion-google-place-container .list {
    padding:10px;
}
.ion-google-place-container .bar .button.button-clear {
    width: 20%;
    margin: 0px auto;
    color: #FFFFFF;
    background: #007090;
    height: 42px;
    border-radius: 0px;
    font-weight: 600;
    padding: 0px;
    font-size:25px;
}
.ion-google-place-container .bar.item-input-inset .item-input-wrapper input {
    border: none;
    color: #007090;
    border-bottom: 1px solid #FFF;
    background: none !important;
    font-size: 18px;
    font-weight: 600;
    padding-right:5px;
}
.ion-google-place-container .bar.item-input-inset .item-input-wrapper {
    background: none !important;
}
.ion-google-place-container .item-input-inset {
	padding:0px;
}
.ion-google-place-container .bar.item-input-inset .item-input-wrapper {
    margin-top: 0px;
}