/*custom CSS*/
button.button.button-assertive.btn-lg {
	width: 30%;
	margin-top: 20px;
	margin-left: 10px;
}
button.button.button-royal.btn-lg {
	width: 30%;
	margin-top: 20px;
	margin-left: 10px;
}
button.nextBtn{
	float:right;
	margin: 10px;
}
button.button-dark {
	border-color: #111;
	background-color: #444;
	color: #fff;
	width: 100%;
}
button.button-assertive {
	border-color: #e42112;
	background-color: #ef473a;
	color: #fff;
	margin-left: 10px;
}
button.margin_left0{
	margin-left: 0px;
}
.edit_space{
	margin-right: 20px;
}
/*.active {
	background-color: #EE82EE;
}*/
